SimpleProjectManager/SimpleProjectManager.Module.Web/bin/Debug/
SimpleProjectManager/SimpleProjectManager.Module.Web/obj/Debug/
SimpleProjectManager/SimpleProjectManager.Module.Win/bin/Debug/
SimpleProjectManager/SimpleProjectManager.Module.Win/obj/Debug/
SimpleProjectManager/SimpleProjectManager.Module/bin/Debug/
SimpleProjectManager/SimpleProjectManager.Module/obj/Debug/
SimpleProjectManager/SimpleProjectManager.Win/bin/Debug/
SimpleProjectManager/SimpleProjectManager.Win/obj/Debug/
SimpleProjectManager/SimpleProjectManager.Web/obj/Debug/
MySolution/MySolution/MySolution.Module.Web/bin/
MySolution/MySolution/MySolution.Module.Web/obj/
MySolution/MySolution/MySolution.Module.Win/bin/
MySolution/MySolution/MySolution.Module.Win/obj/
MySolution/MySolution/MySolution.Module/bin/
MySolution/MySolution/MySolution.Module/obj/
MySolution/MySolution/MySolution.Win/bin/
MySolution/MySolution/MySolution.Win/obj/
MySolution/MySolution/MySolution.Web/obj/
MySolution/MySolution/MySolution.Web/bin/
*.bak
