SimpleProjectManager/SimpleProjectManager.Module.Web/bin/Debug/
SimpleProjectManager/SimpleProjectManager.Module.Web/obj/Debug/
SimpleProjectManager/SimpleProjectManager.Module.Win/bin/Debug/
SimpleProjectManager/SimpleProjectManager.Module.Win/obj/Debug/
SimpleProjectManager/SimpleProjectManager.Module/bin/Debug/
SimpleProjectManager/SimpleProjectManager.Module/obj/Debug/
SimpleProjectManager/SimpleProjectManager.Win/bin/Debug/
SimpleProjectManager/SimpleProjectManager.Win/obj/Debug/
SimpleProjectManager/SimpleProjectManager.Web/obj/Debug/
